.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.card{
  border: #000000 2px solid;
}

.card-body{
  color: #FFFFFF;
  background-color: #154C79;
  height: 200px;
}
