.card{
  border: #000000 2px solid;
}

.card-body{
  color: #FFFFFF;
  background-color: #154C79;
  height: 200px;
}
.card-body2{
  background-color: #FFFFFF;
}
.list-group-item{
  background-color: #FBD786;

}
button{
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #154C79;
  color: #FFFFFF;
  --bs-btn-hover-bg: #FBD786;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
